pandas
pypdf
ipykernel
python-dotenv
openai
numexpr
langchain == 0.2.3
langchain_community == 0.2.4
langchain-openai == 0.1.8
docarray == 0.40.0
sentence-transformers == 3.0.1
chromadb == 0.5.0
pinecone == 4.0.0
wikipedia == 1.4.0
langchain_experimental == 0.0.60
langchainhub == 0.1.18
langgraph == 0.0.66
pygraphviz
gpt4all
langchain_nomic
unstructured
markdown
lark
gradio